name: skipapp-travelposters-native
on:
  push:
    branches: [ main ]
    tags: "[0-9]+.[0-9]+.[0-9]+"
  schedule:
    - cron: '30 18 * * *'
  workflow_dispatch:
  pull_request:

permissions:
  contents: write

jobs:
  build-app:
    runs-on: macos-15
    steps:
      - uses: skiptools/actions/setup-skip@sdk-install
        with:
          install-swift-android-sdk: true

      - uses: actions/checkout@v6

      # debug build
      - run: skip export --project travel-posters-model -d Android/lib/debug/ --debug
      - run: gradle -p Android assembleDebug
      - run: ls -lah Android/app/build/outputs/apk/debug/app-debug.apk

      # release build
      - run: skip export --project travel-posters-model -d Android/lib/release --release
      - run: gradle -p Android assembleRelease
      - run: ls -lah Android/app/build/outputs/apk/release/app-release-unsigned.apk

      - name: "Upload Build Artifacts"
        uses: actions/upload-artifact@v6
        with: 
          path: |
            Android/lib/
            Android/app/build/outputs/apk/

      - name: "Release"
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          RELTAG=${GITHUB_REF#refs/*/}
          mkdir release-files
          cp Android/app/build/outputs/apk/*/*.apk release-files/
          skip export --project travel-posters-model -d release-files/
          gh release create "${RELTAG}" -t "Release ${RELTAG}" --generate-notes release-files/*.*

